# Binaries
zipserver
*.exe
*.exe~
*.dll
*.so
*.dylib

# Configuration
config.yaml
.env

# Data and Cache
.cache/
.publish/
cache/
publish/

# Go related
vendor/
*.test
*.out
cover.out

# IDEs
.idea/
.vscode/
*.swp
*.swo
.DS_Store
